# 1. Aplica a regra geral para todos os arquivos .md
*.md linguist-documentation=false

# 2. Abre uma EXCEÇÃO para o README voltar a ser tratado apenas como documentação oculta
README.md linguist-documentation=true

#Mapeia os arquivos com texto e explicações para pontuarem nas linguagens corretas
"Cursor.md"                                   linguist-language=SQL
"Consultas da AV2.md"                         linguist-language=SQL
"Função agregada.md"                         linguist-language=SQL
"Modelo Conceitual Esportes Impossiveis.md" linguist-language=Mermaid
"Modelo Físico Esportes Impossiveis.md"     linguist-language=SQL
"Modelo Lógico Esportes Impossiveis.md"     linguist-language=Mermaid
"Procedure de Relatório.md"                 linguist-language=SQL
"Procedures.md"                               linguist-language=SQL